{% extends "main.html" %}
{% load static %}
{% block content %}
  <div class="container">
    <div class="row products">
      <div class="col-md-9 col-sm-12 col-xs-12 text-center">
      <h2>مشخصات بیمار</h2>
        <form class="navbar-form navbar-left" role="search" action='{% url 'hospital:person_home' %}' method="get">
          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="نام">
            <input type="text" class="form-control" name="family" placeholder="نام خانوادگی">
            <input type="text" class="form-control" name="national_code" placeholder="کد ملی">
          </div>
          <button type="submit" class="btn btn-default" value="search">جستجو</button>
        </form>
      <div class="col-sm-6 col-md-4 col-xs-12">
        <div class="list-group">
      {% if persons %}
          <a href="#" class="list-group-item active">
            <table>
              <tr style="text-align: unset;">
                <td>کدکاربری</td>
                <td>نام ونام خانوادگی</td>
                <td>کدملی</td>
                <td>تاریخ بروزرسانی</td>
                <td>ویرایش</td>
                <td>حذف</td>
              </tr>
            </table>
          {% for person in persons %}
          <a  class="list-group-item">
            <table>
                <tr style="text-align: unset;">
                <td>{{ person.id }}</td>
                <td>{{ person.name }} {{ person.family }}</td>
                <td>{{ person.national_code }}</td>
                <td>{{ person.update_date|date:"d/m/Y" }}</td>
                <td><a href ='{% url 'hospital:person_detail' national_code=person.national_code  %}'> <i class="glyphicon glyphicon-pencil"></i> </a></td>
                <td><a href ='{% url 'hospital:person_delete' national_code=person.national_code  %}'> <i class="glyphicon glyphicon-trash"></i> </a></td>
              </tr>
            </table>
          </a>
          {% endfor %}
         {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12  sidebar">
      <h2>
        گروه بندی ها
      </h2>
      <div class="groups">
        <button class="btn btn-default btn-block" type="button" ><a href="{% url 'hospital:person' %}">
            اشخاص</a><span class="badge">{{ persons.paginator.count  }}</span>
        </button>
        <button class="btn btn-default btn-block" type="button">
         پرونده بیمار <span class="badge">10</span>
        </button>
        <button class="btn btn-default btn-block" type="button">
          موبایل <span class="badge">25</span>
        </button>
        <button class="btn btn-default btn-block" type="button">
          استان <span class="badge">70</span>
        </button>
        <button class="btn btn-default btn-block" type="button">
          شهر <span class="badge">2</span>
        </button>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"></h3>
        </div>
        <div class="panel-body">
          <div class="thumbnail">
            <div class="caption">
              <h3>فرم ایجاد اشخاص</h3>
              <p>
                <a href="{% url 'hospital:person_forms' %}" class="btn btn-primary" role="button">
                  <i class="glyphicon glyphicon-plus"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">محصولات بیمارستانی</h3>
        </div>
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="{% static 'images/products/1.jpeg' %}" alt="...">
              <div class="carousel-caption">
              </div>
            </div>
            <div class="item">
              <img src="{% static 'images/products/2.jpeg' %}" alt="...">
              <div class="carousel-caption">
              </div>
            </div>
            <div class="item">
              <img src="{% static 'images/products/3.jpeg' %}" alt="...">
              <div class="carousel-caption">
              </div>
            </div>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

   <div class="col-md-9 col-sm-12 col-xs-12 text-center">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li >
        {% if persons.has_previous %}
            <a href="page={{ persons.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
            <a href="{{ request.get_full_path }}&page=1" aria-label="Next">
              <span aria-hidden="true">صفحه اول</span>
            </a>                                                                    
         {% endif %}
        </li>
         {% for number in persons.paginator.page_range %}
             {% if number == persons.number %}
            <li class="active"><a href="{{ request.get_full_path }}&page={{ persons.number }}">{{ persons.number }}</a></li>
             {% elif number < 5 %}
                {% if number != persons.number %}
                       <li><a href="{{ request.get_full_path }}&page={{ number }}">{{ number }}</a></li>
                    {% endif %}
             {% elif number == 5 %}
                <li><a >...</a></li>
             {% elif number == persons.number|add:-1  %}
                <li><a >...</a></li>
             {% elif number == persons.number|add:1   %}
                 <li><a >...</a></li>
             {% elif persons.paginator.page_range|last|add:-3 <= number  %}
                 <li><a href="{{ request.get_full_path }}&page={{ number }}">{{ number }}</a></li>
             {% endif %}
        <li>
        {% endfor %}
        {% if persons.has_next %}
         <a href="{{ request.get_full_path }}&page={{ persons.paginator.num_pages  }}" aria-label="Next">
           <span aria-hidden="true">صفحه پایانی</span>                           
         </a>                                                                    
        <a href="{{ request.get_full_path }}&page={{ persons.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
        {% endif %}
        </li>
        </ul>
    </nav>
   </div>
</div>

{% endblock %}