{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.rtl.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>بیمارستان</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="{% url 'hospital:home' %}"> خانه<span class="sr-only">(current)</span></a></li>
                    <li><a href="{% url 'hospital:person' %}">اشخاص </a></li>
                  <li><a href="/admin/">ادمین</a></li>
                </ul>
                <form class="navbar-form navbar-left">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="جست و جو ...">
                  </div>
                  <button type="submit" class="btn btn-primary">
                      <i class="glyphicon glyphicon-search"></i>
                  </button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="glyphicon glyphicon-user"></i>
                    <ul class="dropdown-menu">
                      <li><a  data-toggle="modal" data-target="#register">ثبت نام</a></li>
                      <li><a  data-toggle="modal" data-target="#login">ورود به سایت</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
  </header>
  {% block content %}
  {% endblock %}
</footer>
  <!-- my modal -->
  <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">ثبت نام در سایت</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">ایمیل</label>
                <input type="email" class="form-control" id="exampleInputEmail1" required placeholder="ایمیل ...">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">نام کاربری</label>
                <input type="text" class="form-control" id="exampleInputEmail1" required placeholder="نام کاربری ...">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">رمز عبور</label>
                <input type="password" class="form-control" id="exampleInputPassword1" required placeholder="رمز عبور ...">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">تکرار رمز عبور</label>
                <input type="password" class="form-control" id="exampleInputPassword1" required placeholder="تکرار رمز عبور ...">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" required> با قوانین سایت موافقم ؟
                </label>
              </div>
              <button type="submit" class="btn btn-success">ثبت نام</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">انصراف</button>
          </div>
        </div>
      </div>
  </div>
  <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">ورود به سایت</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">ایمیل</label>
                <input type="email" class="form-control" id="exampleInputEmail1" required placeholder="ایمیل ...">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">رمز عبور</label>
                <input type="password" class="form-control" id="exampleInputPassword1" required placeholder="رمز عبور ...">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> مرا به خاطر بسپار ؟
                </label>
              </div>
              <button type="submit" class="btn btn-success">ورود به سایت</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">انصراف</button>
          </div>
        </div>
      </div>
  </div>
  <!-- end my modal -->
  <script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-rtl.js' %}"></script>
</body>
</html>